* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display:flex;
	flex-direction: column;
    min-height:100vh;
    background:center center url(img/cat.jpg) no-repeat;
    background-size:cover;
   

}

header, footer {
	background:#ccc;
}

header, .content, footer {
	padding:1rem;
}

.content {
	flex:1;
    background:rgba(255,255,255,.5);
  
    
}

img.cat {
    width:100%;
    width:100px;
    vertical-align:middle;
    vertical-align:top;
}