* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position:relative;
}

body {
    background-color: #ace5f2;
    font-family:amiko;
}

.wrapper {
    width: 800px;
    margin: auto;
}
header, footer {
    background:#252323;
    padding:.5rem;
    color:#ddd;
    width:100%;
}
header {
    z-index:1;
    height:100px;
}
footer {
    position:absolute;
    top:900px;
}

div.box {
    width:400px;
    height:400px;
    position:absolute;
}

div.amikoletter {
    left:0;
    top:100px;
    font-size:500px;
    color:#A99985;
    background:#F5F1ED;
    line-height:496px;
    text-align:center;
    
}

div.amikoparagraph {
    left:400px;
    top:100px;

}

div.playfairparagraph, div.amikoparagraph  {
        line-height:1.8em;
    padding:1em;
    background:#44A1A0;
    color:#ddd;
}

div.playfairletter {
    font-family:'playfair display', serif;
    left:400px;
    top:500px;
    
    font-size:500px;
    color:#A99985;
    background:#F5F1ED;
    line-height:346px;
    text-align:center;
}

div.playfairparagraph {
    left:0;
    top:500px;
        font-family:'playfair display', serif;

}

h1 {
    font-size:20px;
    text-align: center;
    line-height: 80px;
}

h2 {
    margin-bottom:.5em;
}

div.playfairparagraph h2 {
    margin-top: .3em;
}

footer .social {
    float:right;
}
footer .fa {
    font-size:24px;
}
footer .social a {
    color:#fff;
    text-decoration:none;
}



