
.header {
    font-family: baskerville;
    background: #E0F9EF;
    padding: .3em;
    text-align: center;
    box-shadow: 0px 5px 10px #646464;
    position: fixed;
    width: 100%;
    font-size: 15px;
    z-index: 1;
}

img {
    position: relative;
    left: 15em;
    top: 3.4em;
    border: 5px groove;
    size: 160px;
    height: 200px;
    box-shadow: 0px 5px 10px #646464; 
}

.ingredients {
    position: relative;
    left: 15em;
    top: 2.4em;
    width: 300px;
    list-style: decimal;
    font-family: sans-serif;
    padding: 1em;
    font-size: 16px;
    line-height: 200%;
    font-weight: bold;
    padding-bottom: 60px;
}

.directions {
    position: absolute;
    top: 11em;
    left: 29em;
    width: 50%;
    padding: .5em;
    font-family: Trebuchet MS;
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 60px;
}

.directions ul li {
    list-style-type: decimal;
    padding: .5em;
}

.title {
    position: absolute;
    top: 4em;
    left: 23em;
    font-size: 24px;
    font-family: baskerville;
    background: #E0F9EF;
    padding: 1em;
    width: 50%;
    text-align: center;
    box-shadow: 0px 5px 10px #646464;
}

aside {
    width: 150px;
    height: 100%;
    padding: .3em;
    background: #d0d0d0;
    text-align: center;
    position: fixed;
    list-style-type: none;
}

aside a {
    position: relative;
    font-family: Trebuchet MS;
    top: 5em;
    font-size: 2em;
    padding: .5em;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #000;
    list-style-type: none;
}


aside a:hover {
    color: #fff;
    background: #4e4e4e;
    transition: .5s;
    box-shadow: 0px 5px 10px #646464;
}

footer {
    font-family: baskerville;
    background-color: #b0cce5;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .5em;
    box-shadow: 0px -3px 20px #646464;
}

@media screen and (max-width:1200px) and (min-width:900px) {
aside {
    width: 100px;
    height: 100%;
    padding: .2em;
    background: #d0d0d0;
}

aside a {
    top: 5em;
    font-size: 1em;
    
}
    img {
    left: 7em;
}

.ingredients {
    left: 7em;
}
.title {
    top: 3em;
    left: 15em;
    font-size: 24px;
    padding: .7em;
}
.directions {
    top: 11em;
    left: 21em;
    width: 45%;
    padding: .5em;
    font-family: Trebuchet MS;
    font-size: 20px;
    line-height: 140%;
    padding-bottom: 60px;
}
}

@media screen and (max-width:900px) {
    aside {
    width: 100px;
    height: 100%;
    padding: .2em;
    background: #d0d0d0;
}

aside a {
    top: 5em;
    font-size: 1em;
    
}
    img {
    position: relative;
    left: 7em;
    top: 3.4em;
    border: 5px groove;
    size: 100px;
    height: 100px;
    box-shadow: 0px 5px 10px #646464; 
}

.ingredients {
    left: 9em;
    top: 4em;
    width: 200px;
    font-size: 12px;
}
.title {
    top: 3em;
    left: 11.5em;
    font-size: 24px;
    padding: .7em;
}
.directions {
    top: 11em;
    left: 21em;
    width: 45%;
    padding: .5em;
    font-family: Trebuchet MS;
    font-size: 15px;
    line-height: 140%;
    padding-bottom: 60px;
}
}