* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:'Amiko', 'azo-sans-web', 'trebuchet ms', sans-serif;
    /* courier, arial, times, comic-sans-MS, tahoma, verdana, georgia, lucida, lucida-grande */
}

h1, h2, h3, .accent {
    font-family:'Playfair Display', georgia;
}

.amiko {
    font-family:Amiko;
}
header,
footer {
    background: #ccc;
}

header,
.content,
footer {
    padding: 1rem;
}

.content {
    flex: 1;
    background: rgba(255, 255, 255, .5);
}

img.cat {
    width: 100%;
    width: 100px;
    vertical-align: middle;
    vertical-align: top;
}

h1, h2, h3 {
    margin-top: .5em;
}

p {
    margin-bottom:.5em;
}