* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #999;
    font-family: sans-serif;
}

.wrapper {
    background: #fff;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}

header {
    height: 128px;
    h1 {
        margin-top: 1em;
    }
}

* {
	border:solid;
}