* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
<<<<<<< HEAD
  background: pink;
  font-family: sans-serif;
=======
  background: green;
  font-family: serif;
>>>>>>> origin/master
}

.wrapper {
  background: purple;
  background: yellow;
  margin: 0 auto;
  max-width: 120px;
  padding: 4rem;
  border: solid;
  border-radius: 25px;
}

header {
  height: 120px;
}

header h1 {
  margin-top: 1em;
}
