* {
    /*    border:solid;*/
}

body {
    background: #999;
}

.ui-dialog {
    background: #fff;
    font-family: sans-serif;
    padding: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.ui-dialog-titlebar-close {
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999em;
    background: #7cb3d0;
    border: none;
    width: 2rem;
    height: 2rem;
}

.ui-icon-closethick:before {
    font-family: FontAwesome;
    content: "\f00d";
    color: #fff;
}

.ui-dialog-title {
    font-weight: bold;
}