/* Coolors Exported Palette - coolors.co/bada55-de6b48-f4b9b2-daedbd-7dbbc3 */

/* HSL */
$badass_green: hsla(74%, 64%, 59%, 1);
$color2: hsla(14%, 69%, 58%, 1);
$color3: hsla(6%, 75%, 83%, 1);
$color4: hsla(84%, 57%, 84%, 1);
$color5: hsla(187%, 37%, 63%, 1);

/* RGB */
$color1: rgba(186, 218, 85, 1);
$color2: rgba(222, 107, 72, 1);
$color3: rgba(244, 185, 178, 1);
$color4: rgba(218, 237, 189, 1);
$color5: rgba(125, 187, 195, 1);

// reset browser defaults
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    padding: 12px;

    // layout
    // background-image: url(../img/metal.jpg); // img
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: auto 1fr;
    grid-template-areas: "footer aside header" "footer main header";
}

footer {
    grid-area: footer;
    background: #ff0;
}

main {
    grid-area: main;
    background: #f0f;
    font-size: 2vh;
}

aside {
    grid-area: aside;
    background: #0f0;
    img {
        display: block;
    }
}

header {
    grid-area: header;
    background: #f00;
  writing-mode:vertical-rl; /* vertical text */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


 h1 {
        font-size: 9vh;
        line-height: 1;
        text-transform: uppercase;
        
    }

span.funky {
    display: relative;
    transform:rotate(70deg);
}