body {
    color:#fff;
    background:#444;
    font-family:sans-serif;
}

nav li {
        display:inline-block;
    }
nav li a {
    color:#fff;
    opacity:.7;
    text-decoration: none;
}

nav li a:hover {
    opacity:1;
}