body {
    font-family:helvetica;
    background:steelblue;
        background:left top url(triangle.svg);

}

#accordion h3 {
    background-color:darkturquoise;
    border-radius:8px;
    color:#fff;
    padding:4px;
}

.ui-accordion-header-icon {
    width:16px;
    height:16px;
    display:inline-block;
    background:left top url(triangle.svg);
   
    transition: transform .3s ease;

}

.ui-state-active .ui-accordion-header-icon {
    transform:rotate(90deg);
    
 
}

svg {
    fill:pink;
}

.ui-datepicker {
    background:whitesmoke;
}

.ui-datepicker-prev .ui-icon {
    background:left top url(triangle.svg) no-repeat;
    text-indent:-9999em;
    transform: rotate(180deg);
    position:absolute;
    left:0;
    
}


.ui-datepicker .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
}




