* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:sans-serif;
    /* courier, arial, times, comic-sans-MS, tahoma, verdana, georgia, lucida, lucida-grande */
}
header {
    height:10vh;
}
footer {

}

nav#primary a {
    display:block;
    float:left;
}
header,
footer {
    background: #ccc;
}

header,
.content,
footer {

}

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    z-index:100;
}
header h1, nav#primary {
    padding:1rem;
}
.content {
    flex: 1;
    background: rgba(255, 255, 255, .5);
}

.page {
    height:100vh;
    padding:1rem;
}

#backToTop {
    position:fixed;
    right:8px;
    top:8px;    
}

.fa {
     background:#bada55;
    padding:.5rem;
    border-radius:50%;
    box-shadow:0 0 6px rgba(0,0,0,0.5);
    border:3px solid #fff;
    color:#fff;
    text-shadow:0 0 6px rgba(0,0,0,0.5);
    font-size:22px;
    line-height:28px;
    text-align:center;
    width:42px;
    height:42px;
    margin:1rem;
}