* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  background: #BBD3F2; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: #5E7E97;
  color: #fff; }

header {
  text-align: center; }

aside,
.main {
  float: left;
  padding: 0 1rem; }

aside a, .main a, footer a {
  color: #fff; }

.main {
  max-width: 800px;
  background: #124268; }

aside {
  width: 200px; }

ul.widget {
  padding: 1em;
  border: 1px solid #777;
  border-radius: 1em; }

header img {
  width: 100%;
  height: auto; }

footer {
  background: #5E7E97;
  padding: 1rem; }

footer,
nav {
  text-align: center;
  clear: both; }

@media (max-width: 800px) {
  aside, .main {
    float: none;
    width: 100%;
    padding: 1rem; } }

.largepic img {
  width: 100%;
  margin: 1rem 0; }
